.title.level1 {
  font-size: 2.3rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.334;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.section {
  padding: 1.5rem 1rem;
}

.title.level2 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.8em;
  margin-bottom: 0.25em;
}

.center {
  text-align: center;
}

.author {
  font-size: 0.9rem;
  color: #464646;
}

.hint {
  font-size: 1.5rem;
  color: #6d6d6d;
  text-align: center;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #e2e2e2;
  background-color: #090f15;
  border-color: #f8f9fa;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0.5rem;
}

.btn:hover {
  color: #090f15;
  background-color: #e2e2e2;
}

.outer-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #fafafa;
  border: #000;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: #e0e0e0;
}

.main-content {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
}

.apk-block {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
}

.img-container {  
  display: flex;  
  padding-top: 30px;
  justify-content: center;  
  align-items: center;  
}  
.img-box {  
  display: none;  
  text-align: center;  
}  
.img-box img {  
  width: 90%;  
  height: auto;  
  margin: 10px;
}  
.img-box.active {  
  display: block;  
}  

button {  
  height: 120px;  
  width: 100px;
  color: white;  
  background-color: #4CAF50;  
  border: none;
  border-radius: 10px;  
  padding: 5px 10px;  
  text-align: center;  
  text-decoration: none;  
  display: inline-block;  
  font-size: 16px;  
  margin: 4px 2px;  
  cursor: pointer;  
  vertical-align: middle;  
}  
button:disabled {  
  background-color: #cccccc;  
  cursor: not-allowed;  
}  

@media (min-width: 1200px) {
  .outer-container {
    max-width: 1200px;
  }
}

@media (min-width: 600px) {
  .outer-container {
    padding: 3rem 7rem;
  }
}

#root {
  background-color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

ul {
  padding-left: 1rem;
}